{% extends 'base.html' %}
{% load leaflet_tags %}
{% block extra_assets %}
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}
    <style>
    .leaflet-container{
        width: 100%;
        height: 400px;
        z-index: 1;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="columns">
        <div class="column is-half is-offset-one-quarter has-text-centered">
            <h1 class="is-size-1 has-text-weight-bold">Create spot</h1>
            <form action="" method="post">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <input class="button is-primary" type="submit" value="Submit"/>
                </form>
        </div>
    </div>
{% endblock %}

