{% extends 'base.html' %}
{% load leaflet_tags %}
{% block extra_assets %}
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}
    <style>
    .leaflet-container{
        width: 100%;
        height: 400px;
        z-index: 1;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="columns">
        <div class="column is-half is-offset-one-quarter has-text-centered">
            <h1 class="is-size-1 has-text-weight-bold">Create spot</h1>
            <form action="" method="post">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <input class="button is-primary" type="submit" value="Submit"/>
                </form>
        </div>
    </div>

    <div class="modal" id="myModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Modal title</p>
                <button class="delete" aria-label="close" data-bulma-modal="close"></button>
            </header>
            <section class="modal-card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <input class="button is-primary" type="submit" value="Submit"/>
                </form>
            </section>
        </div>
    </div>

    <button id="btn">Click for Modal</button>

    <script type="text/javascript">
    class BulmaModal {
	constructor(selector) {
		this.elem = document.querySelector(selector)
		this.close_data()
	}

	show() {
		this.elem.classList.toggle('is-active')
		this.on_show()
	}

	close() {
		this.elem.classList.toggle('is-active')
		this.on_close()
	}

	close_data() {
		var modalClose = this.elem.querySelectorAll("[data-bulma-modal='close'], .modal-background")
		var that = this
		modalClose.forEach(function(e) {
			e.addEventListener("click", function() {

				that.elem.classList.toggle('is-active')

				var event = new Event('modal:close')

				that.elem.dispatchEvent(event);
			})
		})
	}

	on_show() {
		var event = new Event('modal:show')

		this.elem.dispatchEvent(event);
	}

	on_close() {
		var event = new Event('modal:close')

		this.elem.dispatchEvent(event);
	}

	addEventListener(event, callback) {
		this.elem.addEventListener(event, callback)
	}
}

var btn = document.querySelector("#btn")
var mdl = new BulmaModal("#myModal")

btn.addEventListener("click", function () {
	mdl.show()
})

mdl.addEventListener('modal:show', function() {
	console.log("opened")
})

mdl.addEventListener("modal:close", function() {
	console.log("closed")
})
    </script>
{% endblock %}

