{% extends 'base.html' %}
{% load leaflet_tags %}
{% load geojson_tags %}

{% block extra_assets %}
  {% leaflet_js %}
  {% leaflet_css %}
    <style>

    .leaflet-container {  /* all maps */
        width:  100%px;
        height: 500px;
    }
    </style>
{% endblock %}

{% block content %}
    {% if messages %}
        <article class="message is-success">
          <div class="message-body">
              {% for message in messages %}
                  {{ message }}
            {% endfor %}
          </div>
        </article>
    {% endif %}
    <script type="text/javascript">
      var collection = {{ marker_list|geojsonfeature:"popupContent"|safe }};

      function onEachFeature(feature, layer) {
        if (feature.properties && feature.properties.popupContent) {
          layer.bindPopup(feature.properties.popupContent);
        }
      }

      function map_init(map, options) {
        L.geoJson(collection, {onEachFeature: onEachFeature}).addTo(map);
      }
    </script>

    {% leaflet_map "main" callback="window.map_init" %}

{% endblock %}