{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}
<style>

    .leaflet-container {  /* all maps */
        width:  90vw;
        height: 90vh;
    }

</style>

<div>
    <h1>{{ city.name }}</h1>
    {% leaflet_map "main" callback="map_init" %}
</div>

<script type="text/javascript">
    function map_init(map, options) {
        {% for marker in marker_list %}
            var lon = "{{ marker.longitude }}";
            var lat = "{{ marker.latitude }}";
            // zoom to point & add it to map
            map.setView([lat, lon], 14);
            L.marker([lat, lon]).addTo(map);
        {% endfor %}


    }
</script>